.switchtab { border: 1px solid #888; background: "#FFF"; }
.switchtab-items { display: table; table-layout: fixed; width:100%; }
.switchtab-items a { display: table-cell; padding:0.5em; text-align:center; text-decoration:none; color:#555; border:1px solid #888; border-collapse: collapse; }
.switchtab-items a:hover { text-decoration:underline; color:#555; }
.switchtab-items a.activeswitchtab { border: none; }

.dais-fab{
	width:50px;
	height:50px;
	border-radius:100%;
	//background:#F44336;
	background:#3643E4;
	border:none;
	outline:none;
	color:#FFF;
	font-size:36px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.3s;  
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dais-fab:focus {
	transform:scale(1.1);
	transform:rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
