*.pyc
__pycache__/*.pyc

user/*.pyc
user/__pycache__/*.pyc
user/migrations/*.pyc
user/migrations/__pycache__/*.pyc

home/*.pyc
home/__pycache__/*.pyc
home/migrations/*.pyc
home/migrations/__pycache__/*.pyc

ajax/*.pyc
ajax/__pycache__/*.pyc
ajax/migrations/*.pyc
ajax/migrations/__pycache__/*.pyc

dais/*.pyc
dais/__pycache__/*.pyc

#static/images/offers/
