{% extends './base.html' %}

{% block content %}
<div data-role="page" id="invalidpage" data-dom-cache="false" >
	{% include './header.html' %}
	<div class="ui-corner-all custom-corners" style="margin-top: 5px;">
		<div class="ui-bar ui-bar-a">
			<strong>Invalid request</strong>
		</div>
  		<div class="ui-body ui-body-a">
  			<h4>There may be follwing reasons, which cause the request is rejected</h4>
			<p>1. Protocol is not proper</p>
			<p>2. Http method is not correct</p>
			<p>3. Request may be forged </p>
			<a href="/" data-role="button" data-icon="home" data-mini="true" data-inline="true" >Home</a>
  		</div>
	</div>

	{% include './footer.html' %}
</div>
{% endblock %}