{% load staticfiles %}
	<script type="text/javascript" >
		gActiveTab = 1;
	</script>
	
	<div data-role="header" data-position="fixed" data-tap-toggle="false" >
		<div id="header_top">
			<div id="website_info">
				<!-- website logo -->
				<img src="{% static 'images/daislogo.jpg' %}" />
			</div>
			<div id="searchbox" data-role="main" class="ui-content" >
				<form method="post" action="javascript:doSearch()">
					<input type="search" name="search" id="search" value="" placeholder="Search here..." >
				</form>
			</div>
		</div>
		<div data-role="navbar" data-iconpos="left" >
			<ul>
				<li><a href="/" data-prefetch="false" data-transition="none" data-icon="home"
				{% if page == 'home' %} 
				class="ui-btn-active ui-state-persist"
				{% endif %} >Home</a></li>
				<li><a href="/home/topics" data-prefetch="false" data-transition="none" data-icon="grid" 
				{% if page == 'topics' %} 
				class="ui-btn-active ui-state-persist"
				{% endif %} >Topics</a></li>
				<li><a href="/home/alerts" data-prefetch="false" data-transition="none" data-icon="alert" 
				{% if page == 'alerts' %} 
				class="ui-btn-active ui-state-persist"
				{% endif %} >Alerts</a></li>
				{% if user.is_loggedin %}
				<li><a href="/user/profile" data-prefetch="false" data-transition="none" data-icon="user" 
				{% if page == 'user' %}
				class="ui-btn-active ui-state-persist"
				{% endif %} >{{ user.name }}</a></li>
				{% else %}
				<li><a href="/user/login" data-prefetch="false" data-transition="none" data-icon="user" 
				{% if page == 'user' %}
				class="ui-btn-active ui-state-persist"
				{% endif %} > SignIn </a></li>
				{% endif %}
			</ul>
		</div>
	</div>