{% load staticfiles %}
<style>
#website-info { width:13%; float: left; }
#website-info img { /* width: 48px; height: 48px; */ }
#search-box { float: left; }
#header-top .ui-content { padding: 0.2em; }
#search-results { position: absolute; width: 80%; z-index:5000; margin-top: -8px; display: none; }
</style>

<div data-role="header" data-position="fixed" data-tap-toggle="false" >
	<div id="header-top" class="ui-content"  >
		<div id="website-info" class="ui-content" >
			<!-- website logo -->
			<a href="/" data-ajax="false" style="display: block;">
			<img src="{% static 'images/d-logo-b.png' %}" />
			</a>
		</div>
		<div id="search-box" data-role="main" class="ui-content" style="padding: 0em 0.5em;" >
			<form method="post" action="javascript:doSearch()" id="search-form" >
				<input data-type="search" name="search" id="search" value="" placeholder="Search here..." autocomplete="off" >
			</form>
			<ul data-role="listview" data-filter="true" data-inset="true" data-input="#search" id="search-results" >
			    <li data-filtertext="main page:home page"><a href="#">Home</a></li>
			</ul>
		</div>
	</div>
	<div data-role="navbar" data-iconpos="left" >
		<ul>
			<li><a href="/" data-transition="none" data-icon="home"
			{% if page == 'home' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Home</a></li>
			<li><a href="/home/topics/" data-transition="none" data-icon="grid"
			{% if page == 'topics' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Topics</a></li>
			<li><a href="/home/alerts/" data-transition="none" data-icon="alert"
			{% if page == 'alerts' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >Alerts</a></li>
			{% if user.is_loggedin %}
			<li><a href="/user/profile/" data-transition="none" data-icon="user"
			{% if page == 'user' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} >{{ user.name }}</a></li>
			{% else %}
			<li><a href="/user/signin/" data-transition="none" data-icon="user"
			{% if page == 'user' %}
			class="ui-btn-active ui-state-persist"
			{% endif %} > SignIn </a></li>
			{% endif %}
		</ul>
	</div>
</div>
<div class="toast" style="display: none;" >
</div>
<div class="user-comments-wid" id="user-comments-wid" style="display: none;" dias-name="comment-wid" >
	<div class="user-comments">
	</div>
	<form action="/user/post/comment/" method="POST" data-ajax="false" >
		<input type="hidden" name="article_id" id="article_id" />
		<input type="text" name="comment" data-mini="true" style="padding-top:.22em; padding-bottom:.22em;" />
		<input type="submit" name="submit" value="Post" data-mini="true" data-inline="true" data-icon="check" class="user-comment-submit" />
	</form>
</div>