{% extends './base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<div data-role="page" id="alertspage" data-dom-cache="true" >
	{% include './header.html' %}

	<div data-role="main" class="ui-content">
		<div class="ui-corner-all custom-corners">
			<div class="ui-bar ui-bar-a">
				<b>Alerts </b>
			</div>
	  		<div class="ui-body ui-body-a">
	  			<p>No any notifications</p>
	  			<a href="#" class="ui-btn" data-mini="true" onclick="Toast.show('Refreshing...')" >Refresh</a>
	  		</div>
		</div>
	</div>

	{% include './footer.html' %}
</div>
{% endblock %}