{% extends './base.html' %}

{% block content %}
<div data-role="page" id="indexpage" data-dom-cache="false" >
<style type="text/css">
	.post-div { margin-top: 0.5em; padding: 0.2em; border: 1px solid #ddd; background: #fff; }
	.user-info-div { font-size: 0.8em; }
	.user-reaction-div { padding: 0.5em 0.5em 0.5em 0.5em; }
	.user-reaction { width: 30%; }
	.user-reaction-div a { text-decoration: none; font-size: 0.9em; color: #666; padding: 0.5em 0.5em 0.5em 0em; }
	.user-reaction-div a:hover { text-decoration: underline; font-weight: bold; }
	.user-comment { border: 1px solid #CCC; margin-top: 0.2em; padding: 0.2em; }
</style>
	{% include './header.html' %}
	<div data-role="main" class="ui-content dais-ui-content">
		{% for article in articles %}
		<div class="post-div" >
			<strong>{{article.title}}</strong>
			<div class="user-info-div" >
				{{article.author.name | capfirst }}
				[{{article.author.email}}]
			</div>
			<div class="h-bar-solid" ></div>
			<p>{{article.text}}</p>
			<div class="h-bar-solid"></div>
			<div class="user-reaction-div" article-id="{{article.pk}}" >
				<span class="user-likes" {% if article.reaction == 1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
					{% spaceless %}
						{% if article.likes > 0 %}
							{% if article.reaction == 1 %}
								<a href="#" class="user-reaction" article-likes="{{article.likes}}">liked</a><b>[{{article.likes}}]</b>
							{% else %}
								<a href="#" class="user-reaction" article-likes="{{article.likes}}">like</a><b>[{{article.likes}}]</b>
							{% endif %}
						{% else %}
							<a href="#" class="user-reaction" article-likes="{{article.likes}}">like</a><b></b>
						{% endif %}
					{% endspaceless %}
				</span> | 
				<span class="user-dislikes" {% if article.reaction == -1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
					{% spaceless %}
						{% if article.dislikes > 0 %}
							{% if article.reaction == -1 %}
								<a href="#" class="user-reaction" article-dislikes="{{article.dislikes}}">disliked</a><b>[{{article.dislikes}}]</b>
							{% else %}
								<a href="#" class="user-reaction" article-dislikes="{{article.dislikes}}">dislike</a><b>[{{article.dislikes}}]</b>
							{% endif %}
						{% else %}
							<a href="#" class="user-reaction" article-dislikes="{{article.dislikes}}">dislike</a><b></b>
						{% endif %}
					{% endspaceless %}
				</span> | 
				<a href="/post/load-post-comments/" class="user-comment-link" >comment</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% include './footer.html' %}
</div>
{% endblock %}