{% extends './base.html' %}
{% load staticfiles %}
{% block content %}
<div data-role="page" {{dataurl|safe}} id="profilepage" data-dom-cache="false" >
	<style>
	.ui-bar-c { border: 1px solid #DDD; padding: 0.6em 0.8em; background: #E9E9E9; }
	</style>

	{% include './header.html' %}
	<div class="ui-content" data-role="main">
		<div class="ui-corner-all custom-corners" style="margin-top:1.0em;">
			<!--<div class="ui-bar ui-bar-c" >-->
			<div class="ui-bar ui-bar-a">
				<strong>Indian GDP </strong>
			</div>
	  		<div class="ui-body ui-body-a">
				<p>
					The Gross Domestic Product (GDP) in India was worth 2073.54 billion US dollars in 2015. The GDP value of India represents 3.34 percent of the world economy. GDP in India averaged 582.30 USD Billion from 1970 until 2015, reaching an all time high of 2073.54 USD Billion in 2015 and a record low of 63.50 USD Billion in 1970.
				</p>
				<img src="{% static 'images/india-gdp.png' %}" style="width:100%" />
				<p>
					The gross domestic product (GDP) measures of national income and output for a given country's economy. The gross domestic product (GDP) is equal to the total expenditures for all final goods and services produced within the country in a stipulated period of time.
				</p>
			</div>
		</div>
	</div>
	{% include './footer.html' %}
</div>

{% endblock %}