{% extends 'mobile/base.html' %}

{% block content %}
<div data-role="page" id="signinpage" data-dom-cache="false" >
	{% include 'mobile/header.html' %}
	<div data-role="main" class="ui-content">
		<div class="content" >
			<h3>Login Here : </h3>
			{% if form_errors %}
			<p style="color:red;" >{{form_errors.user}}</p>
			{% endif %}
			<form action="/user/auth/" method="POST" data-ajax="false" >
				{% csrf_token %}
				<table class="form_table">
					<tr><td>Email : </td><td><input type="text" name="email" class="inputbox" /></td></tr>
					<tr><td>Password : </td><td><input type="password" name="pass" class="inputbox" /></td></tr>

					<tr><td></td>
					<td><input type="submit" name="login" value="SignIn" class="submit buttons" data-inline="true" />
					<input type="submit" name="clear" value="SignUp" class="submit buttons" data-inline="true" />
					</td></tr>
				</table>
			</form>
		</div>
	{% include 'mobile/footer.html' %}
</div>
{% endblock %}