{% extends 'mobile/base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<div data-role="page" id="newtopicpage" data-dom-cache="false" >
	{% include 'mobile/header.html' %}
	<div data-role="main" class="ui-content">
		{% include 'mobile/post_topics_nav.html' %}
		<br />
		<div class="ui-corner-all custom-corners">
			<!--<div class="ui-bar ui-bar-c" >-->
			<div class="ui-bar ui-bar-a">
				<b>New Post: </b>
			</div>
	  		<div class="ui-body ui-body-a">
				<form action="/post/create-post/" method="POST" >
					{% csrf_token %}
					<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
						<legend></legend>
						<input name="topic_type" id="radio-choice-h-6a" value="1" checked="checked" type="radio">
						<label for="radio-choice-h-6a">Topic</label>
						<input name="topic_type" id="radio-choice-h-6b" value="2" type="radio">
						<label for="radio-choice-h-6b">Poll</label>
						<input name="topic_type" id="radio-choice-h-6c" value="3" type="radio">
						<label for="radio-choice-h-6c">Petition</label>
					</fieldset>
					Title : <input type="text" name="title" id="title" />
					Abstract : <textarea name="text" id="text" style="max-height:3em; resize: none; scroll-behavior: all;"></textarea>
					<input type="submit" name="submit" class="submit" value="Submit" />
				</form>
			</div>
		</div>
	</div>

	{% include 'mobile/footer.html' %}
</div>
{% endblock %}