{% extends 'mobile/base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<div data-role="page" id="petspage" data-dom-cache="false" >
	{% include 'mobile/header.html' %}
	{% include 'mobile/post_topics_nav.html' %}
	<div data-role="main" class="ui-content">
		<div class="ui-bar ui-bar-a ui-corner-all custom-corners">
			<strong>Petitions </strong>
		</div>
		{% for pet in petitions %}
			<div class="ui-content">
				<h3>{{pet.title}}</h3>
				<div class="h-bar">
				<p>{{pet.text}}</p>
			</div>
		{% endfor %}
	</div>

	{% include 'mobile/footer.html' %}
</div>
{% endblock %}