{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block style %}
<style type="text/css" >
.ui-icon-email:after {
    background-image: url({% static 'images/icons-svg/email.svg' %});
    /* Make your icon fit */
    background-size: 18px 18px;
}
</style>
{% endblock %}

{% block content %}
<div data-role="page" id="signinpage" data-dom-cache="false" >
	{% include 'mobile/header.html' %}
	<div data-role="main" class="ui-content">
	<div data-role="switchtab" >
		<div class="switchtab-items">
			<a href="/user/signin/" rel="#tab-signin" data-prefetch="true" class="activeswitchtab" >SignIn</a>
			<a href="/user/signup/" rel="#tab-signup" data-prefetch="true" >SignUp</a>
		</div>
		<div class="switchtab-content" id="tab-signin">
			<div class="ui-content" >
				{% if form_errors %}
				<p style="color:red;" >{{form_errors.user}}</p>
				{% endif %}
				<form action="/user/signin/auth/" method="POST" data-ajax="false" >
					{% csrf_token %}
					<table class="form_table">
						<tr><td>Email : </td><td><input type="text" name="email" class="inputbox" /></td></tr>
						<tr><td>Password : </td><td><input type="password" name="pass" class="inputbox" /></td></tr>

						<tr><td></td>
						<td><input type="submit" name="login" value="SignIn" class="submit buttons" />
						</td></tr>
					</table>
				</form>
			</div>
		</div>
		<div class="switchtab-content" id="tab-signup" >
			<div class="ui-content" >
				{% if form.errors %}
					<p style="color:red;" >Please fill the details!!</p>
				{% endif %}
				<form action="/user/signup/register/" method="POST" >
					{% csrf_token %}
					<table class="form_table" >	
						<tr><td>Full Name* : </td><td><input type="text" name="name" class="inputbox" placeholder="Full Name" />
						</tr>
						<tr><td>Email* : </td><td><input type="text" name="email" placeholder="Email Id" /></td>
						</tr>

						<tr><td>Password* : </td><td><input type="password" name="pass" class="inputbox" placeholder="Password" />
						</td></tr>
						<tr><td>Phone* : </td><td><input type="text" name="phone" class="inputbox" placeholder="Phone Number" />
						</tr>
						<tr><td></td>
						<td>
						<input type="submit" name="signup" value="SignUp" class="submit buttons" />
						</td></tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	{% include 'mobile/footer.html' %}
</div>
{% endblock %}