{% extends 'mobile/base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<div data-role="page" id="indexpage" data-dom-cache="true" >
	{% include 'mobile/header.html' %}
	<div data-role="main" class="ui-content">
		<p>Current Topics</p>
		<form action="/home/topics/add/" method="POST" >
			{% csrf_token %}
			user : <input name="email" type="text" >
			article : <textarea style="resize: none;" name="text" ></textarea>
			<input type="submit" name="submit" value="Submit" />
		</form>
	</div>

	{% include 'mobile/header.html' %}
</div>
{% endblock %}