{% extends 'mobile/base.html' %}

{% block styles %}
{% endblock %}


{% block content %}
<div data-role="page" id="topicsaddpage" data-dom-cache="false" >
	{% include 'mobile/header.html' %}
	<div data-role="main" class="ui-content">
		<form action="/user/post/add/" method="POST" >
			{% csrf_token %}
			Title : <input type="text" name="title" id="title" />
			Abstract : <textarea name="text" id="text" style="max-height:3em; resize: none; scroll-behavior: all;"></textarea>
			<input type="submit" name="submit" class="submit" value="Submit" />
		</form>
	</div>

	{% include 'mobile/footer.html' %}
</div>
{% endblock %}