{% extends './base.html' %}
{% load staticfiles %}


{% block content %}
<div data-role="page" data-url="/user/signin/" id="signinpage" data-dom-cache="false" >
	{% include './header.html' %}
	<style type="text/css" >
	.ui-icon-email:after {
		background-image: url({% static 'images/icons-svg/email.svg' %});
		/* Make your icon fit */
		background-size: 18px 18px;
	}
	</style>
	<div data-role="main" class="ui-content">
			<div data-role="switchtab" >
				<div class="switchtab-navbar" >
					<a href="/user/signin/" rel="#tab-signin" class="activeswitchtab" style="color: #555;" >SignIn</a>
					<a href="/user/signup/" rel="#tab-signup" style="color: #555;" >SignUp</a>
				</div>
				<div class="switchtab-item" id="tab-signin">
					<div class="ui-content" >
						{% if form_errors %}
						<p style="color:red;" >{{form_errors.user}}</p>
						{% endif %}
						<form action="/user/signin-auth/" method="POST" data-ajax="false" >
							{% csrf_token %}
							<table class="form-table">
								<tr><td>Email : </td><td><input type="text" name="email" class="inputbox" /></td></tr>
								<tr><td>Password : </td><td><input type="password" name="pass" class="inputbox" /></td></tr>

								<tr><td></td>
								<td><input type="submit" name="login" value="SignIn" class="submit buttons" />
								</td></tr>
							</table>
						</form>
					</div>
				</div>
				<div class="switchtab-item" id="tab-signup" >
					<div class="ui-content" >
						{% if form.errors %}
							<p style="color:red;" >Please fill the details!!</p>
						{% endif %}
						<form action="/user/signup-register/" method="POST" >
							{% csrf_token %}
							<table class="form-table" >	
								<tr><td>Full Name* : </td><td><input type="text" name="name" class="inputbox" placeholder="Full Name" /></td>
								</tr>
								<tr><td>Email* : </td><td><input type="text" name="email" placeholder="Email Id" /></td>
								</tr>

								<tr><td>Password* : </td><td><input type="password" name="pass" class="inputbox" placeholder="Password" />
								</td></tr>
								<tr><td>Phone* : </td><td><input type="text" name="phone" class="inputbox" placeholder="Phone Number" /></td>
								</tr>
								<tr><td></td>
								<td>
								<input type="submit" name="signup" value="SignUp" class="submit buttons" />
								</td></tr>
							</table>
						</form>
					</div>
				</div>
		</div>
	</div>
	{% include './footer.html' %}
</div>
{% endblock %}