<div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <a href="/user/info/" data-icon="info"  class="ui-btn ui-corner-all" >Info</a>
	<a href="/user/topics-select/" data-icon="heart" class="ui-btn ui-corner-all" >Topics</a>
	<a href="/user/mails/" data-icon="mail" class="ui-btn ui-corner-all" >Mails</a>
	<a href="/user/stats/" data-icon="bars" class="ui-btn ui-corner-all" >Stats</a>
	<a href="/user/settings/" data-icon="gear" class="ui-btn ui-corner-all" >Settings</a>
	<a href="/user/signout/" data-icon="power" class="ui-btn ui-corner-all" data-ajax="false">SignOut</a>
	{% if user.level == 9 %}
		<a href="/daisadmin/" data-icon="admin" class="ui-btn ui-corner-all" data-ajax="false">Admin</a>
	{% endif %}
</div>