
<div class="left-navbar" >
	<div class="ui-bar-tbb" >Shortcuts</div>
	<ul>
		<li><a href="/" >Dais</a></li>
		<li><a href="/home/news/" >News</a></li>
		<li><a href="/home/topics/" >Topics</a></li>
		<li><a href="/post/polls/" >Polls</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
	</ul>
	<div class="clear" ></div>
</div>

</style>
<div class="left-navbar" style="margin-top: 1.2em;" >
	<div class="ui-bar-tbb" >Trending</div>
	<ul>
		<li><a href="/home/trending/" >Trending</a></li>
		<li><a href="/home/news/" >News</a></li>
		<li><a href="/home/topics/" >Topics</a></li>
		<li><a href="/post/polls/" >Polls</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
		<li><a href="/post/petitions/" >Petitions</a></li>
	</ul>
	<div class="clear" ></div>
</div>