{% extends './base.html' %}

{% block style %}
<style type="text/css">
	.post-div { margin-bottom: 0.5em; padding: 0.7em; border: 1px solid #ddd; background: #fff; }
	.post-title { padding: 0.3em; }
	.post-body { margin: 1.2em auto; }
	.user-info-div { display: table; font-size: 0.8em; }
	.user-dp-div { display: table-cell; vertical-align: middle; padding: 0.3em; }
	.user-name-div { display: table-cell; vertical-align: middle; padding: 0.3em; margin-left: 0.5em; }
	.user-controls-div { display: table-cell; width:100%; padding: 0.3em; text-align: right; }
	.user-link {}
	.user-reaction-div { padding: 0.5em 0.5em 0.5em 0.5em; }
	.user-reaction { width: 30%; }
	.user-reaction-div a { text-decoration: none; font-size: 0.9em; color: #666; padding: 0.5em; }
	.user-reaction-div a:hover { text-decoration: underline; }
	.user-comment { border: 1px solid #ccc; margin-top: 0.2em; padding: 0.2em; }
</style>
{% endblock %}


{% block pagemenu %}
{% include './home_nav.html' %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	function deleteTopicPopup(pLink) {
		console.log('+deleteTopicPopup');
		$("#delete-dialog").dialog({
			resizable: false,
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Delete": function() {
					$(this).dialog("close");
					var div = $(pLink).parents('.post-div');
					var id = div.attr('post-id');
					console.log('name : '+ div.prop('tagName'));
					deleteFromServer(div, id);
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});
	}

	function editTopicPopup(pLink) {
		console.log('+editTopicPopup');
		//$("#edit-dialog").find('innput[name=""]')
		$("#edit-dialog").dialog({
			resizable: false,
			height: "auto",
			width: 600,
			modal: true,
			buttons: {
				"Update": function() {
					$(this).dialog("close");
					var div = $(pLink).parents('.post-div');
					var id = div.attr('post-id');
					console.log('name : '+ div.prop('tagName'));
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});
	}

	function deleteFromServer(pTopic, id)
	{
		console.log('+deleteFromServer');
		var data = {'topic_type':1, 'topic_id':id };
		//pTopic.hide();
		pTopic.fadeOut('slow');
		postRequest('/post/delete-topic/', data, function(status) {
			if (status === true) {
				// delete it
				pTopic.remove();
			} else {
				// not deleted, some error occured.
				pTopic.fadeIn('slow');
				Toast.show('Failed to delete');
			}
		});
	}
</script>

<div id="delete-dialog" title="Delete" style="display: none;">
	<p>Are you sure want to delete this article ?</p>
</div>

<div id="edit-dialog" title="Edit" style="display: none;">
	<form action="/post/update-topic/" method="POST" >
		<h4>Title :</h4>
		<input type="hidden" name="topic_id" value="" />
		<input type="text" name="title" id="title" placeholder="Title" class="inputbox" value="" style="width:100%" />
		<h4>Abstract :</h4>
		<textarea name="text" id="text" style="width:100%; height:10em; padding:0.3em; resize: none; border: 1px solid #ddd;" placeholder="Abstract"></textarea>
		<!--<input type="submit" name="submit" class="submit buttons" value="Submit" />-->
	</form>
</div>

<div class="ui-page">
	{% for article in articles %}
		<div class="post-div" post-id="{{article.pk}}" >
			<div class="post-title" >
				<strong>{{article.title}}</strong>
			</div>
			<div class="h-bar-solid" ></div>
			<div class="user-info-div" >
				<div class="user-dp-div" >
					<a href="javascript:void(0)">
						<img src="{{article.author.image}}" height="32" width="32" />
					</a>
				</div>
				<div class="user-name-div" >
					<a href="javascript:void(0)" class="user-link" title="{{article.author.email}}" > {{article.author.name | capfirst }}</a>
					<div class="h-bar-solid"></div>
					<p>[{{article.author.email}}]</p>
				</div>
				<div class="user-controls-div" >
					{% if user == article.author %}
					<a href="javascript:void(0)" onclick="editTopicPopup(this)" class="user-link" title="Edit" > Edit </a> | 
					<a href="javascript:void(0)" onclick="deleteTopicPopup(this)" class="user-link" title="Delete" > Delete </a>
					{% endif %}
				</div>
				<div class="clear"></div>
			</div>
			<div class="h-bar-solid" ></div>
			<div class="post-body" >
				<p>{{article.text|linebreaks}}</p>
			</div>
			<div class="h-bar-solid"></div>
			<div class="user-reaction-div" article-id="{{article.pk}}" >
				<span class="user-likes" {% if article.reaction == 1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
					{% spaceless %}
						{% if article.likes > 0 %}
							{% if article.reaction == 1 %}
								<a href="javascript:void(0)" class="user-reaction" article-likes="{{article.likes}}">liked</a><b>[{{article.likes}}]</b>
							{% else %}
								<a href="javascript:void(0)" class="user-reaction" article-likes="{{article.likes}}">like</a><b>[{{article.likes}}]</b>
							{% endif %}
						{% else %}
							<a href="javascript:void(0)" class="user-reaction" article-likes="{{article.likes}}">like</a><b></b>
						{% endif %}
					{% endspaceless %}
				</span> | 
				<span class="user-dislikes" {% if article.reaction == -1 %} dais-active="true" {% else %} dais-active="false" {% endif %} >
					{% spaceless %}
						{% if article.dislikes > 0 %}
							{% if article.reaction == -1 %}
								<a href="javascript:void(0)" class="user-reaction" article-dislikes="{{article.dislikes}}">disliked</a><b>[{{article.dislikes}}]</b>
							{% else %}
								<a href="javascript:void(0)" class="user-reaction" article-dislikes="{{article.dislikes}}">dislike</a><b>[{{article.dislikes}}]</b>
							{% endif %}
						{% else %}
							<a href="javascript:void(0)" class="user-reaction" article-dislikes="{{article.dislikes}}">dislike</a><b></b>
						{% endif %}
					{% endspaceless %}
				</span> | 
				<a href="javascript:void(0)" class="user-comment-link" >comment</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}