{% extends 'base.html' %}

{% block style %}
<style type="text/css" >
#mid-box { width:100%; }
#mid-left { float: left; max-width: 50%; border: 1px #333 dotted; }
#mid-right { float: right; border: 1px #333 dotted; margin-left: 10px; }
</style>
{% endblock %}


{% block content %}
<div id="mid-box" >
	<div id="mid-left" >
		<h2>Welcome to Dais</h2>
		<h4>Desktop Website.</h4>
	</div>
	<div id="mid-right" >
		<h3>Get all the latest on politics</h3>
		<p>see all the latest policies, trends ,improvments in governance.
		</p>
	</div>
</div>
{% endblock %}