{% extends './base.html' %}

{% block pagemenu %}
{% include './user_profile_nav.html' %}
{% endblock %}

{% block content %}
<div class="ui-page" >
	<style>
		.topic-item { float: left; padding: 0.5em 0.9em; border-radius: 4px; margin: 5px; cursor: pointer; }
		.topic-item-f { background: #38C; color: #FFF; border: 1px solid #38C; }
		.topic-item-uf { background: #F9F9F9; color: #333; border: 1px solid #DDD; }
	</style>
	<div class="ui-bar-tbb" >
		<strong>Topics <strong>
	</div>
	<form style="display:none" id="topic-select-form" action="/user/topic-selected/" method="POST" >
		{% csrf_token %}
	</form>
		<div class="ui-body ui-body-a ui-corner-all cf">
			{% for topic in topics %}
				{% if topic.followed == 0 %}
				<div class="topic-item topic-item-uf" data-tid="{{topic.id}}" data-tf="0" onclick="followTopic($(this))"> {{topic.name}} </div>
				{% else %}
				<div class="topic-item topic-item-f" data-tid="{{topic.id}}" data-tf="1" onclick="followTopic($(this))"> {{topic.name}} </div>
				{% endif %}
			{% endfor %}
		</div>
</div>
{% endblock %}